<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>显示数组的过滤和排序结果</title>
	<script src="vue.js"></script>
</head>
<body>
	<div id="app">
		<!-- 1.计算属性 -->
		<li v-for="n in evenNumbers">{{n}}</li>
		<!-- 2.计算属性不适应时 使用方法 -->
		<li v-for="n in even(numbers)">{{n}}</li>
	</div>
</body>
	<script>
		new Vue({
			el:"#app",
			data:{
				numbers:[1,2,3,4,5]
			},
			computed:{
				evenNumbers:function(){
					//1.数组的过滤方法  将数组中每一个元素 当做number形参去遍历  不改变原数组  返回新数组
					return this.numbers.filter(function(number){
						return number%2===0;
					})
				}
			},
			methods:{
				even:function(numbers){
					return numbers.filter(function(number){
						return number%2===0;
					})
				}
			}
		})
	</script>
</html>